<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>PC-creator</title>
    <link rel="stylesheet" href="/css/main.css">

    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
</head>
<body>
    <div id="menuBar"></div>
    <div id="info">
        <p>Чтобы посмотреть список компьютерных комплектующих перейдите по кнопке меню "Каталог"</p>
        <p>Чтобы воспользоваться сборщиком ПК перейдите по кнопке меню "Сборщик ПК"</p>
        <p>Чтобы посмотреть информацию о сайте перейдите по кнопке меню "О нас"</p>
    </div>
    <script src="/js/menubar.js"></script>
</body>
</html>